* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    width: 56px;
    height: 24px;
    background-color: rgb(100, 149, 237);
    color: rgb(250, 249, 246);
    border-radius: 5px;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 50px;
    align-items: center;
}